.content {
    position: relative;
    user-select: none;
}

/* 新闻栏标题 */
.qianzhu {
    margin-top: 100px;
}

.qianzhu div {
    text-align: center;
    width: 100%;
}

.qianzhu p {
    margin-top: 15px;
}

.qianzhu a {
    font-size: 34px;
    color: #f31424;
    font-weight: bold;
    margin-left: 15px;
}

.qianzhu p:nth-child(2) a {
    font-size: 17px;
}

.qianzhu a:hover {
    color: #FF9724;
    transition: 0.5s all;
}

.huijian {
    margin-top: 35px;
}

.huijian2 {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.huijian2 {
    width: 1200px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.huijian3 {
    width: 100%;
    height: 100%;
}

.huijian4 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.huijian4 a {
    color: white;
    transition: 0.3s all;
    font-size: 20px;
    margin-left: 65px;
}

.huijian4 a:hover {
    color: #FF9724;
}

.huijian4 {
    width: 100%;
    height: 100%;
}

#huijian5 {
    position: absolute;
    bottom: 5px;
    width: 100%;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 次要闻 */
.sp {
    width: 1200px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
}

.wrap {
    height: 390px;
    width: 686px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.pic1 {
    height: 390px;
    width: 686px;
    background-size: cover;
    
}

.pic2 {
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    line-height: 35px;
    font-size: 20px;
}

.pic2:hover {
    color: #FF9724;
}

.wrap ul {
    position: absolute;
}

.wrap ul li {
    height: 170px;
}

.wrap ol {
    position: absolute;
    right: 5px;
    bottom: 10px;
}

.wrap ol li {
    height: 20px;
    width: 20px;
    background: #ccc;
    border: solid 1px #666;
    margin-left: 5px;
    color: #000;
    float: left;
    line-height: center;
    text-align: center;
    cursor: pointer;
}

.wrap ol .on {
    background: #E97305;
    color: #fff;
}

/* 右侧要闻链接 */
.wen {
    height: 100%;
    width: 514px;
    position: absolute;
    right: 0;
}

#wen1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 35px;
}

#wen1 li {
    width: 514px;
    height: 42px;
}

#wen1 a {
    color: #000;
    font-size: 17px;
    line-height: 42px;
    font-weight: bold;
}

#wen1 li:nth-child(1) a,
#wen1 li:nth-child(5) a,
#wen1 li:nth-child(9) a {
    font-weight: bold;
    font-size: 20px;
    color: #333399;
}

#wen1 a:hover {
    color: #FF9724;
    transition: 0.3s all;
}

.wen li {
    justify-content: space-between;
}

/* 轮播图下面图片 */
.pic3 {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 686px;
    justify-content: space-between;
}

.pic4 {
    width: 332px;
    height: 188px;
    overflow: hidden;
}

.down-pic img {
    height: 188px;
    transition: 0.3s all;
}

.pic3 img:hover {
    transform: scale(1.1);
}

/* 绘成就 */
.tu {
    width: 1200px;
    height: 113px;
    margin: 0 auto;
    margin-top: 35px;
}

.tu img {
    width: 100%;
    height: 113px;
}

.cj {
    width: 1072px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    position: relative;
    border-radius: 15px;
}

.fit {
    height: 100%;
    width: 40px;
    background-color: #920000;
    border-radius: 15px;
    margin-left: 2px;
    box-shadow: 0 1px 1px;
    user-select: none;
}

.fit1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1px;
    color: white;
    height: 100%;
    position: absolute;
}

.fit i {
    font-size: 35px;
    margin-top: 35px;
    margin-left: 3.2px;
}

.fit p {
    margin-top: 80px;
    width: 30px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
}

.fit img {
    transition: 0.3s all;
}

.fit img:hover {
    transform: scale(1.1);

}

.fit2 {
    width: 900px;
    height: 350px;
    border-radius: 25px;
    background-color: rgba(207, 189, 189, 0.2);
    visibility: hidden;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.fit:active {
    background-color: rgb(255, 127, 50);
    transition: 0.3s all;
}

.fit:active i {
    color: #9e1818;
}

/* active时取消visible的可见性 */
.fit:active .visivle {
    visibility: hidden;
}

/* 通过active类来保持active状态 */
.fit.active .fit2 {
    visibility: visible;
}

.fit.active {
    background-color: rgb(255, 127, 50);
    transition: 0.3s all;
}

.fit.active i {
    color: #9e1818;
}

/* 内部介绍 */
.fit3 {
    width: 280px;
    height: 320px;
    position: relative;
}

.fit3 img {
    width: 280px;
    height: 150px;
    margin-top: 35px;
}

.fit3 p {
    width: 100%;
    margin-top: 45px;
    text-indent: 2em;
    color: #D70016;
    transition: 0.2s all;
}

.fit3 p:hover {
    color: tomato;
}

.fit4 {
    background-color: #DF1319;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 80px;
    border-radius: 13px;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
}

.fit4:hover {
    color: #f8c89c;
}

/* 好模范 */
.model-role {
    width: 1200px;

}

.model-role-banner img {
    width: 100%;
    height: 113px;
}

.model-role-banner {
    width: 1200px;
    height: 113px;
    margin: 0 auto;
    margin-top: 35px;
    background-color: rgba(255, 255, 255, 0.3);
}

.tu1 {
    width: 1072px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    position: relative;
}

.tu1 img {
    height: 251px;
    width: 290px;
    margin: auto 0;
}

.tu3 {
    width: 821px;
    height: 350px;
}

/* 详细人物 */

.tu3 img {
    width: 186px;
    height: 250px;
    transition: 0.4s all;
}

.img-outer {
    width: 186px;
    height: 250px;
    overflow: hidden;
}

.tu3 img:hover {
    transform: scale(1.1);
}

.tu4 li {
    height: 340px;
    width: 186px;
    background-color: rgb(221, 221, 221)
}

.tu4 ul {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    width: 821px;
    height: 350px;
}

.tu4 li {
    height: 100%;
}

.role-description p:nth-child(1) {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.2s all;
}

.role-description p:nth-child(2) {
    color: #333333;
    font-size: 16px;
    margin-top: 15px;
    text-indent: 2em;
    transition: 0.2s all;
}

.role-description p:hover {
    color: rgb(255, 127, 50);
}

@media all and (max-width:920px) {
    .video-banner video {
        height: 500px;
    }
}