.content{
    background-color: transparent;
}
.yx{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    
}
.yx1{
    height: 60px;
    width: 1200px;
    line-height: 60px;
    font-size: 26px;
    color:#b02225;
    background-color: #DFDFDF;
    border-left: 4px solid #0e57a6;
    transition: 0.3s;
    cursor: pointer;
}
.yx1 p{
    margin-left: 25px;
}
.yx1:hover{
    color:#fff;
    background-color: #b02225;
    border-left: 4px solid #0e57a6;
}
.yx2{
    margin-top: 35px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.yx3{
    width: 570px;
    height: 211px;
    padding: 30px 0px;
    margin-top: 15px;
    font: 12px "微软雅黑";
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    user-select: none;
}
.yx3:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 30px #0e57a6;
}
.yx4{
    width: 312px;
    height: 100%;
}
.wen{
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-left: 4px solid #b02225;
}
.wen a{
    display: flex;
}
.wen a:hover{
    color:#b02225;
}

.wen2{
    margin-top: 35px;
    font-size: 14px;
    line-height: 22px;
    color: #999;
    text-indent: 2em;
}
.tu{
    width: 210px;
    height: 140px;
    margin-top: 25px;
    overflow: hidden;
}
.tu img{
    width: 210px;
    height: 140px;
    line-height: 140px;
    transition: 0.3s;
}
.tu img:hover{
    transform: scale(1.08);
}
#wen1{
    color: #b02225;
    font-size: 25px;
    transition: 0.2s;
}
.wen:hover #wen1{
    color: #0e57a6;
}