* {
    margin: 0;
    padding: 0
}
a {
    text-decoration: none;
}
body{
    min-width: 1100px;
}
html {
    background-image: url("../images/background/main-background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* 导航条 */
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

#shouye {
    border-top: 3px solid #f4930a;
}

i {
    user-select: none;
}

/* 导航栏 */
.daohang {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #920000;
    position: fixed;
    z-index: 999;
}

.logo{
    width: 600px;
    height: auto;
}

.logo img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    float: left;
}

.logo h1 a{
    color: #ffffff;

}

.logo h1{
    margin: 15px 20px;

}


.nav ul {
    display: flex;
}

.nav li {
    width: 100px;
    text-align: center;
}

.nav a {
    color: white;
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
}

.nav a:hover {
    color: rgb(230, 204, 157);
    transition: 0.2s all;

}

.nav li:hover {
    background-color: #C81E25;
    transition: 0.5s all;
}

/* 版权栏 */
.bq {
    width: 100%;
    height: 350px;
    margin-top: 35px;
    background-color: rgba(0, 0, 0, 0.767);
    position: relative;
}

.dt {
    position: relative;
    top: 20%;
    width: 70%;
    margin: 0 auto;
}

.dt ul {
    display: flex;
    justify-content: space-between;
}

.bq2{
    margin-top:220px;
    margin-left: 550px;
    font-size: 20px;

}

.dt li {
    /* 设置竖向排列文字 */
    writing-mode: tb-rl;
}

.dt a {
    color: gray;
    font-size: 20px;
}

.dt a:hover {
    color: white;
}

.bq1 img {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 10%;
    left: 45%;
}

.bq-description {
    position: absolute;
    bottom: 10px;
    left: 35%;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

a {
    transition: 0.2s all;
}

@media only screen and (min-width: 1100px) {

    html,
    body {
        min-width: 1100px;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: 0.4s all;
}

#myBtn:hover {
    background-color: #62B74A;
    transition: 0.4s all;
}


.swiper-invisible-blank-slide {
    visibility: hidden;
}

.gallery-top {
    width: 1200px;
    height: 512px;
}

.gallery-thumbs {
    height: 150px;
    box-sizing: border-box;
    padding: 10px 0;
}

.sub-swiper img {
    height: 150px;
    width: 290px;

}

*{
    list-style:none;
}
#list li{
border-radius: 50%;
height: 12px;
width: 12px;
font-size: 12px;
}
.news-inner-content{
position: relative;
}
