* {
    margin: 0;
    padding: 0;
}
a:link,a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
ul li{
    list-style: none;
}
body {
    font-family: "微软雅黑";
    font-size: 14px;
}
#header {
    width: 980px;
    height: 70px;
    margin: 0 auto;
    padding-top: 20px;
}

#nav_bg {
    width: 100%;
    height: 48px;
    background: #fe668f;
}

.nav {
    width: 980px;
    margin: 0 auto;
}

.nav li {
    float: left;
}

a {
    display: inline-block;
    height: 48px;
    padding: 0 50px;
    line-height: 48px;
}

.bg {
    background: #fe9ab5;
}

#banner {
    width: 980px;
    margin: 0 auto;
}

#content {
    width: 930px;
    height: 934px;
    background: url(images/content_bg.jpg) no-repeat;
    margin: 0 auto;
    padding-left: 150px;

}

.step {
    width: 454px;
    height: 80px;
    font-size: 20px;
    font-weight: 100;
    color: #dd8787;
    background: url(images/step.jpg) center right no-repeat;
    line-height: 80px;
}

h3 {
    width: 444px;
    height: 45px;
    font-size: 20px;
    font-weight: 100;
    color: #dd8787;
    line-height: 45px;
    border-bottom: 1px solid #dd8787;
}

td{
    height: 50px;
    color: #dd8787;
}

.left {
    width: 120px;
    text-align: right;
}

.right {
    width: 320px;
    height: 28px;
    border: 1px solid #dd8787;
}

input {
    vertical-align: middle;
}

select {
    width: 171px;
    border: 1px solid #dd8787;
    color: #dd8787;
}

textarea {
    width: 420px;
    border: 1px solid #dd8787;
    resize: none;
    font: 12px;
    color: #aaa;
    padding: 20px;
}

.btn {
    margin-left: 270px;
    margin-top: 40px;
}
#footer {
    width: 100%;
    height: 68px;
    line-height: 26px;
    background: #de668f;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}