span{font-family:"微软雅黑";font-size: 16px;}
.d1{
	 
	width: 980px;
	height: 80px;
	margin: 0 auto;
}
.d2{
	position: absolute;   /* 绝对定位 */
	left: 480px;         
	top: 10px;
}
.d3{
	position: absolute;    /* 绝对定位 */
	right: 300px;
	top: 40px;
	font-size: 18px;
}
.daohang1{
	width: 100%;
	height: 50px;
	background: #3a3a3a;
	position: absolute;    /* 绝对定位 */
	top: 120px;
}
.daohang2{
	width: 820px;
	margin: 0 auto;
	line-height: 50px;
	color: #ffb742;
	padding-left: 160px;
}
.daohang2 span{
	padding: 0 40px;
	color: #ffffff;
}
.shouye{
	background-color: rgb(255, 0, 0); 
	display: inline-block;   /* 字体背景填满 */
}
.tu{
	text-align: center;  
	margin-top: 50px;
}
.w1{
	width: 1300px;
	margin-left: 300px;
}
.w2{padding: 20px 0 20px 80px;}
.w2 .w3{
	width: 230px;
	height: 100px;
	border: 2px solid #ccc;
	float: left;
	background: #fff;
	font-size: 20px;
	color: #000000;	
}
.w3 img{
	margin-top: 20px;
	margin-left: 20px;
}
.w4{
	text-align: left;
	position: relative;  /* 相对定位 */
	bottom: 33px;
	font-weight: bold;
}
.w5{
	font-size: 14px;
	text-align: left;
	margin-left: 70px;
	position: relative;  /* 相对定位 */
	bottom: 30px;
}

.z1{
	height: 10px;
	margin-left: 380px;
	margin-top: 100px;
}
.z3{float: left;}
.z4{float: left;}
.l1{margin-left: 5px;}
.l2{
	margin-left: 240px;
	float: left;
}
.l3{
	float: left;
	position: relative;  /* 相对定位 */
	top: 233px;
	right: 938px;
}
.l4{
	position: relative;  /* 相对定位 */
	top: 7px;
	right: 235px;
}
.n2{
	margin-left: 380px;
}
.n3{
	width: 300px;
	height: 340px;
	border: 2px solid #ccc;
	float: left;
	background: #fff;
	font-size: 20px;
	color: #000000;
	margin-left: 380px;
}
.n3 .img1{
	margin-top: -10px;
	margin-left: 20px;
	float: left;
}
.n4{
	margin-top: -10px;
	margin-left: 10px;
	font-size: 13px;
	float: left;
}
.n5{
	float: left;
	margin-left: -117px;
	font-size: 13px;
}
.n6{
	margin-top: 15px;
	margin-left: 10px;
	font-size: 13px;
	float: left;
}
.n7{
	float: left;
	margin-top: 38px;
	margin-left: -130px;
	font-size: 13px;
}
.n3 .img2{
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}
.n8{
	margin-top: 15px;
	margin-left: 10px;
	font-size: 13px;
	float: left;
}
.n9{
	float: left;
	margin-top: 38px;
	margin-left: -130px;
	font-size: 13px;
}
.n3 .img3{
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}
.n10{
	width: 300px;
	height: 340px;
	border: 2px solid #ccc;
	float: left;
	background: #fff;
	font-size: 20px;
	color: #000000;
	margin-left: 15px;
}
.n10 .img4{
	margin-top: -10px;
	margin-left: 20px;
	float: left;
}
.n11{
	margin-top: -10px;
	margin-left: 10px;
	font-size: 13px;
	float: left;
}
.n12{
	float: left;
	margin-left: -117px;
	font-size: 13px;
}
.n10 .img5{
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}
.n13{
	margin-top: 15px;
	margin-left: 10px;
	font-size: 13px;
	float: left;
}
.n14{
	float: left;
	margin-left: -130px;
	font-size: 13px;
	margin-top: 40px;
}
.n10 .img6{
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}
.n15{
	margin-top: 15px;
	margin-left: 10px;
	font-size: 13px;
	float: left;
}
.n16{
	float: left;
	margin-left: -130px;
	font-size: 13px;
	margin-top: 40px;
}
.n17{
	width: 300px;
	height: 340px;	
	border: 2px solid #ccc;
	float: left;
	background: #fff;
	font-size: 20px;
	color: #000000;
	margin-left: 15px;
}
.n17 .img7{
	margin-top: -10px;
	margin-left: 20px;
	float: left;
}
.n18{
	margin-top: -10px;
	margin-left: 10px;
	font-size: 13px;
	float: left;
}
.n19{
	float: left;
	margin-left: -117px;
	font-size: 13px;
}
.n17 .img8{
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}
.n20{
	margin-top: 15px;
	margin-left: 10px;
	font-size: 13px;
	float: left;
}
.n21{
	float: left;
	margin-left: -130px;
	font-size: 13px;
	margin-top: 40px;
}
.n17 .img9{
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}
.n22{
	margin-top: 15px;
	margin-left: 10px;
	font-size: 13px;
	float: left;
}
.n23{
	float: left;
	margin-left: -130px;
	font-size: 13px;
	margin-top: 40px;
}
.banquan{
	width: 100%;
	height: 50px;
	background: #000000;
	margin-top: 350px;
	text-align: center;
	line-height: 50px;
}