*{margin: 0; padding: 0; list-style: none; outline: none;}
a:link{
    text-decoration:none;
}
p{
    text-align: right;
}
.pk{
    width: 700px;
    height: 650px;
    border-radius: 50%;
    border: 10px solid #ccc;
    margin: 50px auto;
    padding: 50px;
    box-sizing: border-box;
    background-image: repeating-radial-gradient(circle at center,#333,#000 1%);
}
ul{
    width: 350px;
    height: 500px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 15px 15px 12px #000;
    margin: 0 auto;
}

ul li{
    width: 370px;
    height: 55px;
    background-color: #fff;
    background: #504d58 url(./images/yinfu.png) no-repeat 70px 20px;
    margin-bottom: 3px;
    font-size: 30px;
    color: #d6d6d6;
    line-height: 55px;
    text-align: center;
    font-family: "微软雅黑";
}

ul .tp{
    width: 372px;
    height: 247px;
    background: #fff;
    background-image:url(./images/yinyue.jpg),url(./images/wenzi.jpg);
    background-repeat: no-repeat;
    background-position: 87px 16px,99px 192px;
    border-radius: 30px 30px 0 0;
}
ul .yj{border-radius: 0 0 30px 30px;}